In [1]:
import pandas as pd
import numpy as np
import os
import json

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

In [2]:
rows = []
for constraints in ('one', 'two', 'all'):
    for method, path in [('codex', 'codex_translations'), ('gpt', 'nl_plans')]:
        with open(os.path.join(path, constraints, 'collated.json'), 'r') as f:
            data = json.load(f)
            for row in data:
                rows.append({
                    'id': row['id'],
                    'succeed': row['succeed'],
                    'constraints': constraints,
                    'method': method,
                    'gpt_prompt': None if method != 'gpt' else row['query'],
                    'gpt_res': None if method != 'gpt' else row['lm_plan']
                })
df = pd.DataFrame(rows)
df

,id,succeed,constraints,method,gpt_prompt,gpt_res
0,003,True,one,codex,None,None
1,004,True,one,codex,None,None
2,005,True,one,codex,None,None
3,006,True,one,codex,None,None
4,007,True,one,codex,None,None
...,...,...,...,...,...,...
595,098,False,all,gpt,There are some items stacked on the table. You...,Move the scarf onto the letter.\nMove the hand...
596,099,False,all,gpt,There are some items stacked on the table. You...,Move the sketchbook onto the table.\nMove the ...
597,100,False,all,gpt,There are some items stacked on the table. You...,Move the map onto the table.\nMove the dress s...
598,101,False,all,gpt,There are some items stacked on the table. You...,Move the toilet seat onto the table.\nMove the...
599,102,False,all,gpt,There are some items stacked on the table. You...,Move the badminton racket onto the table.\nMov...

In [3]:
wide = df.pivot(index='id', columns=['constraints', 'method'], values='succeed')
print(wide.to_string())

constraints    one           two           all
method       codex    gpt  codex    gpt  codex    gpt
id
003           True   True   True  False   True  False
004           True   True   True  False   True  False
005           True   True   True   True  False  False
006           True  False   True  False   True  False
007           True  False   True  False  False  False
008           True   True   True   True   True  False
009           True  False   True  False   True  False
010           True   True   True   True   True  False
011           True  False   True  False   True  False
012           True  False   True  False   True  False
013           True   True   True  False   True  False
014           True   True   True   True   True  False
015           True  False   True  False   True  False
016           True  False   True  False   True  False
017           True  False  False  False  False  False
018           True  False   True  False   True  False
019           True  False   True  False   True  False
020           True  False   True  False  False  False
021           True  False   True  False   True  False
022           True   True  False  False   True  False
023           True   True  False  False  False  False
024           True  False   True  False  False  False
025           True  False   True  False   True  False
026           True   True   True   True  False  False
027           True  False  False  False  False  False
028           True   True   True  False   True  False
029           True   True   True   True   True  False
030           True  False   True  False   True  False
031           True  False   True  False  False  False
032           True  False   True  False   True  False
033           True   True   True   True   True  False
034           True   True   True   True   True  False
035           True   True   True  False   True  False
036           True  False   True  False  False  False
037           True  False   True  False   True  False
038           True  False   True  False   True  False
039           True  False   True  False   True  False
040           True   True   True   True  False  False
041           True   True   True   True  False  False
042           True   True   True  False  False  False
043           True   True  False  False   True  False
044           True   True   True  False   True  False
045           True  False   True  False   True  False
046           True  False   True  False   True  False
047           True  False   True  False   True  False
048           True  False   True  False  False  False
049           True   True   True  False   True  False
050           True  False   True  False   True  False
051           True   True   True  False   True  False
052           True   True   True   True   True  False
053           True   True   True  False   True  False
054           True  False   True  False   True  False
055           True  False   True  False  False  False
056           True  False   True  False   True  False
057           True  False   True  False   True  False
058           True  False  False  False  False  False
059           True  False   True  False   True  False
060           True  False   True  False   True  False
061           True   True   True   True   True  False
062           True  False  False  False   True  False
063           True   True   True  False   True  False
064           True  False   True  False   True  False
065           True  False   True  False   True  False
066           True  False   True  False   True  False
067           True   True   True   True   True  False
068           True  False   True  False  False  False
069           True  False   True  False   True  False
070           True   True   True   True  False  False
071           True  False   True  False   True  False
072           True  False   True  False   True  False
073           True  False   True  False   True  False
074           True  False   True  False   True  False
075           True  False   True  False   True  False
076           True  False  False  False  False  False
077           True  False   True  False   True  False
078           True   True   True  False   True  False
079           True   True   True   True  False  False
080          False  False   True   True   True  False
081           True   True   True  False  False  False
082           True   True   True   True   True  False
083           True  False   True  False  False  False
084           True  False   True  False   True  False
085           True   True   True  False   True  False
086           True  False   True  False   True  False
087           True   True   True  False   True  False
088           True  False   True  False   True  False
089           True   True   True   True  False  False
090           True   True   True  False   True  False
091           True  False   True  False   True  False
092           True  False   True  False  False  False
093           True  False   True   True  False  False
094           True  False   True  False  False  False
095           True   True   True  False   True  False
096           True   True   True  False   True  False
097           True  False   True  False   True  False
098           True  False   True  False   True  False
099           True   True   True  False  False  False
100           True  False   True  False   True  False
101           True  False   True  False  False  False
102           True   True   True  False   True  False

In [4]:
print(wide.sum().unstack(level=0)[['one', 'two', 'all']].to_string())

constraints  one  two  all
method
codex         99   92   72
gpt           40   19    0

In [21]:
row = df.query('id=="004" and constraints=="one" and method=="gpt"')
print(row['gpt_prompt'].iloc[0][1100:])

There is nothing on the plate.

Goal:
The novel is on the plate.

Actions:
Move the novel onto the plate.


Initially:
The writing pad rests on the table.
The notebook is on the writing pad.
The tissue box is on the notebook.
There is nothing on the tissue box.
The tablet rests on the table.
There is nothing on the tablet.

Goal:
There is nothing on the notebook.

Actions:

In [15]:
print(row['gpt_res'].iloc[0])

Move the tablet onto the notebook.